body {
  background-color: #f0f0f0;
  font-family: 'Comic Sans MS', cursive;
  background-image: url(./canvasbg.png);
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 0;
  font-size: 36px;
}

.buttonbox {
  position: fixed;
  bottom: 15px;
  left: 15px
}

#gridCanvas {
  width: 100%;
  max-width: 1100px;
  height: 550px;
  margin: 0 auto;
  display: block;
  border: 5px solid black;
  background-color: #fff;
}

.platform {
  position: absolute;
  background-color: rgba(63, 161, 241, 0.5);
}

#exportButton {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

#exportButton:hover {
  background-color: #45a049;
}

#exportModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal-content {
  background-color: #333;
  margin: 10vh auto;
  padding: 20px;
  color: white;
  border: 1px solid #888;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

label {
  margin-top: 10px;
  display: block;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#cancelExport,
#confirmExport {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#cancelExport:hover,
#confirmExport:hover {
  background-color: #d32f2f;
}

.credits {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(61, 61, 61, 0.5);
  padding: 8px;
  border-radius: 5%;
  font-size: 12px;
}
